# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MDK-ARM/desktop.ini
MDK-ARM/JLinkLog.txt
MDK-ARM/TESTREALPROJECT.uvguix.HT-QUANG
MDK-ARM/TESTREALPROJECT.uvoptx
MDK-ARM/TESTREALPROJECT.uvprojx
MDK-ARM/DebugConfig/desktop.ini
MDK-ARM/RTE/desktop.ini
MDK-ARM/RTE/_TESTREALPROJECT/desktop.ini
MDK-ARM/TESTREALPROJECT/adc.crf
MDK-ARM/TESTREALPROJECT/adc.d
MDK-ARM/TESTREALPROJECT/adc.o
MDK-ARM/TESTREALPROJECT/button.crf
MDK-ARM/TESTREALPROJECT/desktop.ini
MDK-ARM/TESTREALPROJECT/flash.crf
MDK-ARM/TESTREALPROJECT/interrupt.crf
MDK-ARM/TESTREALPROJECT/kmi_display.crf
MDK-ARM/TESTREALPROJECT/kmi_display.d
MDK-ARM/TESTREALPROJECT/kmi_display.o
MDK-ARM/TESTREALPROJECT/lcd.crf
MDK-ARM/TESTREALPROJECT/lcd.d
MDK-ARM/TESTREALPROJECT/lcd.o
MDK-ARM/TESTREALPROJECT/main.crf
MDK-ARM/TESTREALPROJECT/main.d
MDK-ARM/TESTREALPROJECT/main.o
MDK-ARM/TESTREALPROJECT/max31855.crf
MDK-ARM/TESTREALPROJECT/max31855.d
MDK-ARM/TESTREALPROJECT/max31855.o
MDK-ARM/TESTREALPROJECT/statemachine.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_adc_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_adc_ex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_adc_ex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_adc.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_adc.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_adc.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_cortex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_cortex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_cortex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_dma.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_dma.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_dma.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_exti.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_exti.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_exti.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_flash_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_flash_ex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_flash_ex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_flash.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_flash.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_flash.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_gpio.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_gpio.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_gpio.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_i2c_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_i2c_ex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_i2c_ex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_i2c.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_i2c.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_i2c.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_msp.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_msp.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_msp.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_pwr_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_pwr_ex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_pwr_ex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_pwr.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_pwr.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_pwr.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_rcc_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_rcc_ex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_rcc_ex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_rcc.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_rcc.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_rcc.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_tim_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_tim_ex.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_tim_ex.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_tim.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_tim.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_tim.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_uart_ex.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal_uart.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_hal.o
MDK-ARM/TESTREALPROJECT/stm32f0xx_it.crf
MDK-ARM/TESTREALPROJECT/stm32f0xx_it.d
MDK-ARM/TESTREALPROJECT/stm32f0xx_it.o
MDK-ARM/TESTREALPROJECT/system_stm32f0xx.crf
MDK-ARM/TESTREALPROJECT/system_stm32f0xx.d
MDK-ARM/TESTREALPROJECT/system_stm32f0xx.o
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT_TESTREALPROJECT.dep
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT.axf
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT.build_log.htm
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT.hex
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT.htm
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT.lnp
MDK-ARM/TESTREALPROJECT/TESTREALPROJECT.map
MDK-ARM/PassTHR.uvguix.HT-QUANG
Drivers/CMSIS/desktop.ini
desktop.ini
